/* --------- GENERAL --------  */
body {
  font-size: 1.5em;
}

.title {
  font-size: 1.8em;
}

.subtitle {
  font-size: 1.2em;
}
/* --------------------------  */

/* --------- HEADER ---------  */
header .school-name {
  margin-left: 5px;
  font-weight: 500;
}
/* --------------------------  */

/* ---------- MAIN ---------- */
/* --------------------------  */

/* --------- FOOTER --------- */
/* --------------------------  */